/* Styling the page w/ CSS */

/* Color */
:root {
    --colorPrimary: #e59d29;
    --colorSecondary: #128ad4;
    --colorBackground: #002b36;
    --colorError: #e54f29;
}

body {
    background: var(--colorBackground);
    color: var(--colorPrimary);
}

body, input[type="text"], input[type="button"] {
    font-family: 'Noto Sans Warang Citi', Arial, Helvetica, sans-serif;
}

h1, h2 {
    text-align: center;
}

#display-errors, #add-review-form, input[type="button"],
#display-games, .game-container {
    margin: auto;
    border-radius: .5em;
}

#display-errors, #add-review-form, .game-container {
    width: fit-content;
}

#error-list {
    padding-left: 1.5em;
    list-style-type: square;
    color: var(--colorError);
}

#add-review-form {
    padding: 1em 1em;
    border: 3px solid var(--colorSecondary);
}

label {
    float: left;
    width: 7em;
    text-align: right;
}

input[type="text"], select {
    margin: 0 .5em .5em;
    background: var(--colorPrimary);
    color: var(--colorBackground);
    border: 1px solid var(--colorBackground);
}

input[type="text"] {
    width: 11em;
    height: 1.5em;
}

select {
    width: 11.5em;
    height: 1.8em;
}

    select:hover {
        cursor: pointer;
    }

input[type="button"] {
    width: 8em;
    height: 2.5em;
    margin-top: .5em;
    display: block;
    background: none;
    color: var(--colorPrimary);
    border: 3px solid var(--colorSecondary);
}

    input[type="button"]:hover {
        cursor: pointer;
        transition: all .5s;
        background: var(--colorSecondary);
        color: var(--colorBackground);
    }

#display-games {
    width: 45em;
    padding-top: 1em;
}

.game-container {
    float: left;
    padding: .5em;
    margin: .5em;
    border: 2px solid var(--colorBackground);
    background: var(--colorSecondary);
    color: var(--colorBackground);
    font-weight: bold;
    text-align: center;
}

.rating-star {
    height: 15px;
    width: 15px;
    margin-left: .1em;
}

/* for smaller devices */
@media only screen and (max-width: 680px) {
    #display-games {
        width: 30em;
    }
}
